/* --------------- */
/* SP用　767px以下 */
/* --------------- */

/* 全体 */
body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* ヘッダー */
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav{
  margin-left: auto;
}

/* メインヴィジュアル */
.carousel{
  width: 100vw;
  height: auto;
}
.carouselImg{
  width: 100vw;
  height: auto;
}

/* aboutセクション */
#sec-about{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
}
#div-about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
#div-about > img{
  width: 292px;
  height: 292px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px white;
  outline: solid 2px rgb(153, 153, 153);
  margin: auto;
}
#div-about > div{
  margin: auto;
}

/* worksセクション */
#sec-works{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
}
#div-works div{
  text-align: center;
}
#div-works img{
  max-width: 358px;
  height: auto;
  cursor: pointer;
  transition: all 300ms linear;
}
#div-works img:hover{
  opacity: 0.5;
}